:root{
  --mainBlue: #2a2a72;
  --mainWhite: #f3f3f3;
  --mainDark: #232528; 
}
body{
  background: var(--mainWhite) !important;
  color: var(--mainDark);
}
.text-title{
  letter-spacing: 0.3rem;
  color: var(--mainBlue);
}
.text-white
{
  color: var(--mainWhite);
}